@font-face{
    font-family:courgette ;
    src: url("./../fonts/Courgette-Regular.ttf");
}
@font-face{
    font-family:courgette ;
    src: url("./../fonts/Oswald-VariableFont_wght.ttf");
}
header{
    background: url("../img/header.jpg") no-repeat center;
    height: 600px;
    background-size: cover;
    color: white;
}
.log-sq{
    width: 100px;
}